@font-face {
    font-family: Maven;
    src: url(./fonts/Maven_Pro/MavenPro-VariableFont_wght.ttf);
}
@font-face {
    font-family: Gilda;
    src: url(./fonts/Maven_Pro/GildaDisplay-Regular.ttf);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
section{
    padding: 40px;
    scroll-snap-align: start none;
}

#wrapper {
    overflow-x: hidden;
    overflow-y:scroll;
    scroll-snap-type: y mandatory;
    height: 100vh;
}

header{
    color: white;
    font-family: 'Maven', Arial, Helvetica, sans-serif;
    letter-spacing: 5px;
}
section:nth-of-type(2) h3{
    margin-bottom: 40px;
}
section:nth-of-type(1) {
    display: grid;
    background-color:#333;
    width: 100vw;
    height: 100vh;
    scroll-snap-align: start none;
}

section:nth-of-type(2){
    background-color: aqua;
    display: block;
    height: 100vh;
    width: 100vw;
}
.logo{
    width: 300px;
    height: 250px;
    color: white;
    padding: 10px;
    margin: auto;
    text-align: center;
    background-color: black;
    background: rgb(61,200,213);
    background: linear-gradient(90deg, rgba(61,200,213,1) 0%, rgba(25,72,148,1) 50%, rgba(133,7,225,1) 100%)
}

h2 {
    font-size: 4.5em;
    font-family: 'Gilda' , Arial, Helvetica, sans-serif;
    margin-top: 5px;
}

.logo p{
    font-family: 'Maven' , Arial, Helvetica, sans-serif;
    margin-top: 20px;
}

.logo:hover{
    background: rgb(61,200,213);
    background: linear-gradient(220deg, rgba(61,200,213,1) 0%, rgba(25,72,148,1) 50%, rgba(133,7,225,1) 100%)
}

nav ul{
    display: grid;
    align-content: center;
    justify-content: end;
    align-items: center;
    margin: auto;
}

ul {
    float: right;
    list-style-type: none;
    font-family: 'Gilda', Arial, Helvetica, sans-serif;
    line-height: 25px;
    
}

li a{
    color: white;
    text-decoration: none;
    font-size: 1.3em;
    line-height: 35px;
    opacity: 0.7;
    font-family: 'Maven' , Arial, Helvetica, sans-serif;
    
}

li a:hover{
    color: white;
    opacity: 1;
    transition: 0.4s all;
}
ul li:nth-child(1){
    text-transform: uppercase;
}

section:not(:nth-of-type(1)){
    padding: 20px 100px 20px 100px;
    background: white;
    width: 100vw;
    height: 100vh;
    scroll-snap-align: start none;
    display: grid;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: start;
}
h3{
    font-size: 3em;
    font-weight: 900;
    font-family: "Gilda";

}
section:not(:nth-of-type(1)) p {
    line-height: 30px;
    font-size: 1.2em;
    font-family: "Maven";
    width: 50%;
}

.sectionphoto {
    display: block;
    width: 800px;
    border-radius: 20px;
}

h3{
    margin-top: 30px;
}
